%h1 Users

%table.table
  - @users.each do |user|
    %tr
      %td= link_to user.name , user
      %td= link_to "#{user.items.live.count} live", user_items_path(user)
      %td= "#{user.items.archived.count} lost forever"
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

.center_button= link_to 'New User', new_user_path, class: center_button
