%h1 Items

%table.table
  %tr
    %th Item
    %th Days Left
    %th Finished?

  - @items.each do |item|
    %tr{ data: { path: archive_item_path(item) } }
      %td= item.description
      %td= item.days_left
      %td= link_to 'All Done', '#', class: "#{center_button("dark_red", "sm")} done"

%br

.center_button.thick-gray-border-top
  = render 'form'
