%h1 Items

%table.table.item_list
  %tr
    %th.description Item
    %th.days Days Left
    %th.done Finished?

  - @items.each do |item|
    %tr{ data: { path: archive_item_path(item) } }
      %td.description= item.description
      %td.days= item.days_left
      %td.done= link_to 'All Done', '#', class: "#{center_button("dark_red", "sm")} done"

%br

.center_button.thick-gray-border-top
  = render 'form'
