.navbar.header
  .col-lg-8.col-lg-offset-2
    = link_to "ToDone", root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li= link_to "How we Roll", '#'
      %li= link_to "Get 'er Done", '#'
    %ul.nav.navbar-nav.pull-right
      %li= link_to "Sign In", '#'
      %li= link_to "Sign Out", '#'